node_modules
docs
docs-json
**/docs-json

.DS_Store
# Local Netlify folder
.netlify
lerna-debug.log

.turbo/
**/**/vite.config.ts.timestamp-*
**/**/tsup.config.bundled*

.package-backups
# Local JJ workspaces
/ws/
