[submodule "dojo-starter"]
	path = examples/dojo-starter
	url = https://github.com/dojoengine/dojo-starter

[submodule "onchain-dash"]
	path = onchain-dash
	url = https://github.com/MartianGreed/onchain-dash
[submodule "clients/sink/onchain"]
	path = clients/sink/onchain
	url = https://github.com/MartianGreed/onchain-dash
