**/*/target
**/*/dist
packages/torii-client/wasm
packages/torii-client/pkg
packages/torii-wasm/pkg/
packages/utils-wasm/pkg/

packages/create-burner/coverage
packages/core/coverage

worlds/dojo-starter
worlds/onchain-dash

# ignore lock files
**/*-lock.yaml
package-lock.json
dev-dist

**/CHANGELOG.md
