[workspace]

[package]
edition = "2021"
name = "torii-client-wasm"
version = "0.3.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
async-std = { version = "1.12.0", default-features = false, features = ["std"] }
async-trait = "0.1.68"
futures = "0.3.28"
parking_lot = "0.12.1"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = "1.0.64"
starknet = "0.8.0"
thiserror = "1.0.32"
tokio = { version = "1.32.0", default-features = false, features = ["rt"] }
url = "2.4.0"

# Dojo
dojo-types = { git = "https://github.com/dojoengine/dojo", rev = "37f41d585f549013a73ca189034b0471f1e81731" }
torii-client = { git = "https://github.com/dojoengine/dojo", rev = "37f41d585f549013a73ca189034b0471f1e81731" }
torii-grpc = { git = "https://github.com/dojoengine/dojo", rev = "37f41d585f549013a73ca189034b0471f1e81731" }

# WASM
js-sys = "0.3.64"
serde-wasm-bindgen = "0.6.0"
wasm-bindgen = "=0.2.88"
wasm-bindgen-futures = "0.4.37"
web-sys = { version = "0.3.4", features = [
    'MessageEvent',
    'Window',
    'Worker',
    'WorkerGlobalScope',
    'console',
] }

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.7", optional = true }
tsify = "0.4.5"

# Compiler optimization when running test to prevent ‘locals exceed maximum’ error, 
# where a function is using more that the maximum allowed local variables.
[profile.dev]
incremental = true
opt-level = 1

[dev-dependencies]
wasm-bindgen-test = "=0.3.38"
crypto-bigint = { version = "0.5.3", features = [ "serde" ] }

[features]
console-error-panic = ["dep:console_error_panic_hook"]
