name: ci

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    prettier:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: oven-sh/setup-bun@v1
            - uses: pnpm/action-setup@v3
              with:
                  version: 8

            - name: Update Submodules
              run: git submodule update --init --recursive

            - run: curl -L https://install.dojoengine.org | bash
            - run: /home/runner/.config/.dojo/bin/dojoup -v v0.6.0-alpha.13
            - run: |
                  cd examples/dojo-starter
                  /home/runner/.config/.dojo/bin/sozo build
                  /home/runner/.config/.dojo/bin/sozo test

            - name: Install Protobuf Compiler
              run: sudo apt-get install -y protobuf-compiler

            - name: Install dependencies
              run: pnpm i

            - name: Run Prettier
              run: pnpm run prettier --check .

            - name: Build dependencies
              run: pnpm run build && pnpm run build-examples

            - name: Run tests
              run: pnpm run test

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
